<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/school">Cadastro de Escolas<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/classroom">Cadastro de Turmas</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

<div class="container mt-100">
    <div [hidden]="submitted">
      <h1>Cadastro de Escolas</h1>
      <form #schoolForm="ngForm">

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 required maxlength="80"
                 [(ngModel)]="school.Name" name="name"
                 #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
               *Campo Obrigatório         
          </div>
        </div>

        <div class="form-group">
          <label for="director">Diretor</label>
          <input type="text" class="form-control" id="director"
                 required maxlength="80"
                 [(ngModel)]="school.Director" name="director"
                 #director="ngModel">
          <div [hidden]="director.valid || director.pristine"
               class="alert alert-danger">
               *Campo Obrigatório         
          </div>
        </div>

        <div class="form-group">
          <label for="state">Estado</label>
          <input type="text" class="form-control" id="state"
                 required maxlength="80"
                 [(ngModel)]="school.State" name="state"
                 #state="ngModel">
          <div [hidden]="state.valid || state.pristine"
               class="alert alert-danger">
               *Campo Obrigatório         
          </div>
        </div>
  
        <button type="submit" class="btn btn-success" (click)="addSchool()" [disabled]="!schoolForm.form.valid">Cadastrar</button>
      </form>
    </div>

  </div>
