<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/school">Cadastro de Escolas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/classroom">Cadastro de Turmas</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container mt-100">

  <section class="text-center mt-100">
    <div class="container">
      <h1 class="jumbotron-heading">Lorem ipsum</h1>
      <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
     
        <button class="btn btn-primary m-20" (click)="getSchools()">Veja todas as Escolas cadastradas</button>
        <button class="btn btn-secondary m-20" (click)="getClassrooms()">Veja todas as Turmas cadastradas</button>
      
    </div>
  </section>


  <table *ngIf="isSchool" class="table table-striped top-20">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Diretor</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>{{item.name}}</td>
        <td>{{item.director}}</td>        
        <td>{{item.state}}</td>
      </tr>
    </tbody>
  </table>

  <table *ngIf="isClassroom" class="table table-striped top-20">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Sala</th>
        <th scope="col">Matéria</th>        
        <th scope="col">Professor</th>
        <th scope="col">Limite de Alunos</th>
        <th scope="col">Nome da Escola</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>{{item.room}}</td>
        <td>{{item.subject}}</td>
        <td>{{item.teacherName}}</td>
        <td>{{item.studentsLimit}}</td>  
      </tr>
    </tbody>
  </table>

</div>